.btn2 {
width: 254px;
height: 56px;

margin-top: 30px ;

background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.btn2:hover{
    background: #d38b47;
}