.text2 {


/*position: absolute;*/
/*width: 1110px;
height: 60px;*/
margin-top: 30px ;

color: #fff;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
text-align: center;
text-transform: uppercase;
}
